.contacts {
  padding: 10px 0;
}

.contacts h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.contacts__wrapper {
  font-size: 14px;
  line-height: 30px;
  padding: 5px 10px;
}

.contacts__wrapper address {
  font-style: normal;
}

.contacts__wrapper a {
  text-decoration: none;
  color: #333;
}
