.order-event h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}

.order-event form {
  background: #7ea8cf;
  box-shadow: 0 4px 45px rgba(1, 28, 64, 0.15);
  color: #f9fbfd;
}

.order-event fieldset {
  border: none;
  padding: 8px 10px 15px;
}

.catalog__filter-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__list-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.catalog__list-item div > p {
  padding-left: 60px;
}

.order-event label {
  font-size: 16px;
  line-height: 130%;
}

.order-event p {
  font-size: 14px;
  line-height: 120%;
  margin: 5px 0 0 0;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 4px 8px;
  border: none;
}

input[type="text"],
input[type="tel"]:not(input[type="email"]) {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  position: relative;
  z-index: -1;
  opacity: 0;
}

input[type="checkbox"] + div > label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}

input[type="checkbox"] + div > label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 45px;
  height: 22px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
  transition: .2s;
}

input[type="checkbox"] + div > label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: .2s;
}

input[type="checkbox"]:checked + div > label:before {
  background: #63D1BB;
}

input[type="checkbox"]:checked + div > label:after {
  left: 26px;
}
