.main-screen {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 480px;

  & h1 {
    position: absolute;
    color: #fff;
    bottom: 10px;
    left: 5%;
    font-size: 20px;
    line-height: 130%;
  }
}
