*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #c7c7c7;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-family-main;
  background-color: brown;
  color: #000;
  max-width: 1500px;
  background: #f9fbfd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.button {
  display: block;
  cursor: pointer;
  width: 260px;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 14px;

  font-weight: bold;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
